version: '3.8'

services:
  producer:
    build:
      context: .
      dockerfile: producer/Dockerfile
    ports:
      - '5000:5000'

  consumer:
    build:
      context: .
      dockerfile: consumer/Dockerfile
    ports:
      - '3000:3000'
    depends_on:
      - producer
    environment:
      - GRPC_HOST=producer
